{% extends "base.html" %}

{% block title %}
impactr
{% endblock %}

{% block head %}
    <script type="text/javascript">
    function goToNewPage()
    {
        var url = document.getElementById('list').value;
        if(url != 'none') {
            window.location = url;
        }
    }
    </script>
{% endblock %}
{% block body %}
		<h3>What is the name of the coach and Unique ID?</h3>
		<ul class = "main"><li>Unique ID:<input type="text" name="ID"><br></li><li>Name:<input type="text" name="name"><br></li>
			<p>Once the data is lodaded
		<a href=data.html>
			click here</p>
		</a>
</div>
	<nav>
	<div class="button" onclick="goToNewPage()"><br/><button>Contact</button>
    </div>
    </nav>
{% end block %}
<footer class="container">
  <div class="row">
    <p class="col-sm-4">&copy; 2016 Head Impact Monitor</p>
    <ul class="col-sm-8">
    </ul>
    </div>
  </footer>
</html>