{% extends "base.html" %}

{% block title %}
Impactr User
{% endblock %}
{% block head %}
<meta charset="utf-8">
<style>

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

</style>
<h3 class = "page-title">Magnitude of Acceleration vs. Date</h3>
<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
<p>To see your specific results for the day above
<a href="{{ url_for('www.linegraph') }}">click here</a>
</p>
{% endblock %}
{% block body %}
{% endblock %}

