 <!DOCTYPE HTML>
 <html>
  <head>
  <h2 class="linegraph-header">Magnitude of Impact vs. Time in Seconds</h6>
  <link rel="stylesheet" type="text/css" href="main.css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="linegraph.js"></script>
  <div id="chart_div"></div>
  </head>
  <body>
  </body>
  <footer class="container">
  <div class="row">
     <p class="col-sm-4">&copy; 2016 Head Impact Monitor</p>
    <ul class="col-sm-8">
    </ul>
    </div>
  </footer>
</html>

